.icon-child,
.icon-inner,
.icon-item {
  position: absolute;
  top: 11.3px;
  left: 0;
  background-color: var(--color-gold);
  width: 16px;
  height: 4px;
  overflow: hidden;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
.navb{
  text-decoration: none;
  list-style: none;
  color: black;
}
.nav-item .navb1{
  color: red;
  text-decoration: none;
}
.icon-inner,
.icon-item {
  top: 14.1px;
  left: 7.1px;
  background-color: var(--color-deepskyblue);
  width: 20px;
}
.icon-inner {
  top: 17px;
  left: 14.1px;
  background-color: var(--color-hotpink);
  width: 24px;
}
.icon,
.logo {
  position: relative;
}
.icon {
  width: 34px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.logo {
  line-height: 30px;
  font-weight: 500;
}
.makingit-logo {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.left,
.makers-brand-logo {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left {
  flex-direction: row;
  justify-content: flex-start;
}
.nav-item {
  position: relative;
  font-weight: 500;
}
.links,
.makers-navigation-item {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
}
.makers-navigation-item {
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.links {
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 0 27px;
  gap: var(--gap-5xl);
}
.button {
  position: relative;
  line-height: 40px;
  font-weight: 600;
}
.makers-button {
  border-radius: 10px;
  background-color: #0069ff;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3px 28px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.container,
.makers-navigation-bar,
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right {
  flex-shrink: 0;
  justify-content: flex-end;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.container,
.makers-navigation-bar {
  width: 1100px;
  justify-content: space-between;
  padding: var(--padding-5xl) 0;
  box-sizing: border-box;
}
.makers-navigation-bar {
  background-color: var(--color-white);
  width: 100%;
  height: 94px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray);
}
.education {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  display: none;
}
.learn-how-to,
.makers-is-a {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
}
.makers-is-a {
  font-size: var(--font-size-base);
  line-height: 150%;
  color: var(--color-darkslategray);
}
.makers-text-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.container1,
.text-container {
  display: flex;
  align-items: flex-start;
}
.text-container {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.container1 {
  width: 800px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-29xl) 0;
  box-sizing: border-box;
}
.makers-social-media-icons {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  display: none;
}
.media {
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumaquamarine);
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
}
.publish-with-figma {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.call-to-action,
.lorem-ipsum-dolor {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  color: var(--color-darkslategray);
}
.call-to-action {
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-mediumblue);
}
.makers-media-object,
.text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.makers-media-object {
  align-self: stretch;
  flex-shrink: 0;
  flex-direction: row;
  gap: var(--gap-base);
}
.makers-social-media-icons1 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.features-grid,
.media-objects {
  display: flex;
  align-items: flex-start;
}
.media-objects {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.features-grid {
  flex: 1;
  width: 1100px;
  flex-direction: row;
  justify-content: space-between;
}
.content,
.makers-features {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content {
  align-self: stretch;
  padding: 0 0 var(--padding-45xl);
  text-align: left;
  color: var(--color-black);
}
.makers-features {
  width: 100%;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  color: var(--color-mediumaquamarine);
}
.education1 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.container2,
.makers-text-content1 {
  display: flex;
  align-items: flex-start;
}
.makers-text-content1 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.container2 {
  width: 1100px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-29xl) 0;
  box-sizing: border-box;
}
.intro,
.media4 {
  align-items: center;
}
.intro {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.media4 {
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumaquamarine);
  display: none;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-5xs);
}
.makers-media-object4,
.text4 {
  align-self: stretch;
  align-items: flex-start;
}
.text4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.makers-media-object4 {
  gap: var(--gap-base);
}
.makers-media-object4,
.media-container,
.media-objects2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.media-container {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  width: 340px;
  align-items: center;
  padding: var(--padding-5xl);
  box-sizing: border-box;
}
.media-objects2 {
  align-items: flex-start;
}
.container3,
.features-grid1 {
  display: flex;
  flex-direction: row;
}
.features-grid1 {
  align-self: stretch;
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
}
.container3 {
  width: 1100px;
  align-items: center;
  justify-content: flex-start;
}
.content1,
.makers-featuresoverlapping-ba {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content1 {
  align-self: stretch;
  padding: 0 0 var(--padding-45xl);
  color: var(--color-black);
}
.makers-featuresoverlapping-ba {
  background: linear-gradient(
    180deg,
    #135348,
    #135348 45.61%,
    #fff 45.63%,
    #fff
  );
  width: 100%;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  color: var(--color-white);
}
.education2,
.learn-how-to2 {
  align-self: stretch;
  position: relative;
}
.education2 {
  text-transform: uppercase;
  font-weight: 600;
}
.learn-how-to2 {
  font-size: var(--font-size-29xl);
  display: none;
  color: var(--color-black);
}
.column {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.features-grid2 {
  width: 1100px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.content2,
.makers-faqthree-columns-with {
  background-color: var(--color-white);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content2 {
  align-self: stretch;
  display: none;
  padding: 0 0 var(--padding-45xl);
  text-align: left;
  color: var(--color-black);
}
.makers-faqthree-columns-with {
  width: 100%;
  display: flex;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.icon1 {
  flex: 1;
  position: relative;
  height: 20px;
  overflow: hidden;
}
.makingit-logo1 {
  width: 34px;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.makers-brand-logo1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.making-the-world {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.column3,
.social-media {
  align-items: flex-start;
  justify-content: flex-start;
}
.social-media {
  align-self: stretch;
  display: none;
  flex-direction: row;
  padding: var(--padding-5xs) 0;
  gap: var(--gap-5xl);
}
.column3 {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}
.company {
  align-self: stretch;
  font-weight: 600;
  display: inline-block;
  height: 31px;
  flex-shrink: 0;
}
.about,
.company {
  position: relative;
}
.column4,
.navigation-item,
.navigation-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.column4,
.navigation-links {
  flex-direction: column;
}
.navigation-links {
  align-self: stretch;
  gap: var(--gap-base);
  font-size: var(--font-size-base);
}
.column4 {
  width: 200px;
  gap: var(--gap-3xs);
}
.container5,
.makers-footerfour-columns {
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-13xl) 0;
  box-sizing: border-box;
}
.makers-footerfour-columns {
  background-color: var(--color-white);
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
  text-align: left;
  font-size: var(--font-size-sm);
}
.copyright {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.container6 {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-13xl) 0;
  box-sizing: border-box;
}
.makers-footerlegal,
.student-home {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
}
.makers-footerlegal {
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
}
.student-home {
  position: relative;
  width: 100%;
  height: 1694px;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-slategray);
  font-family: var(--font-inter);
}
